*{
 padding: none;
 border:none;
 box-sizing: border-box;
}
 body{
    margin: 0px;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;  
    font-size: 18px;
 }
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1{
    background-color:  #4F37F5;
    color:hsl(241, 100%, 89%) ;
    height: 50%;
    justify-items: center;
    align-items: center;
    border-radius:0px 0px 40px 40px;
}
.score{
    background-color: #452CDE;
    justify-items: center;
    width: 120px;
    height: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 60%;
    background-image:  linear-gradient(195deg , #452CDE , #4F37F5);
}
.score h1{
color: white;
margin-bottom: 0px;
font-size:40px;  
}
.score p{
    color:  hsl(241, 100%, 89%);
    margin-top: 0px;
    font-size:12px;
}
.container1 h3{
    color: white;
    margin-bottom: 0px;
}
#overall{
    width: 80%;
    text-align: center;
    margin-top: 0px;
   
}


.container2{
    display: flex;   
    height: 100%;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    width: 100vw;
    height: 95vw;
}
.row{
    height: 50px;
    width: 90%;
    color: hsl(241, 100%, 89%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    align-self: center;
    border-radius: 12px;
    
}
.child h3{
    width: 90%;
    align-self: center;
    color: #303B59;
}

#continue{
background-color:#303B59 ;
color: white;
justify-content: center;
border-radius: 50px;
}
#continue:hover{
    cursor: pointer;
}
.number{
    color: #303B59;
    font-weight: 700;
}
img{
    vertical-align: bottom;
    margin-right: 10px;
}

#red{
    color: #F06971;
    font-weight: 500;
}
#yellow{
    color: #F0C768;
    font-weight: 500;
}
#green{
    color: #4FBEA1;
    font-weight: 500;
}
#blue{
    color: #2F399E;
    font-weight: 500;
}

#bgRed{
    background-color: #FFF6F5;
    /* to enable the boder edge style */
    position:relative;
}

#bgYellow{
    background-color: #FFFBF2;
     /* to enable the boder edge style */
     position: relative;
}

#bgGreen{
    background-color: #F2FBFA;
    /* to enable the boder edge style */
    position: relative;
}

#bgBlue{
background-color: #F3F3FD;
/* to enable the boder edge style */
position: relative;
}

.border_conner::before,
.border_conner::after, 
.border_conner >:first-child:before, 
.border_conner >:first-child:after {
    content: "";
    position: absolute;
    background-color:transparent;
    width: 10px;
    height: 10px;
    border: 3px solid hsl(240, 29%, 94%);
}

.border_conner::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
    z-index: -1;
    border-radius: 15px;
}

.border_conner >:first-child:before
 {
   bottom: 0;
    left:0;
    border-right: none;
    border-top: none;
    z-index: -1;
    border-radius: 15px;
}

.border_conner::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
    z-index: -1;
    border-radius: 15px;
}
.border_conner>:first-child::after {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
    z-index: -1;
    border-radius: 15px;
}



@media screen and (min-width:1000px){
 body{
    height: 100%vh;
 }   
.parent{
    flex-direction: row;
    align-items: center;
    padding: none;
    height: 100vh;
}
 .child{
        height:100%;
} 
.container2{
    height:60%;
    width: 25%;
    padding: 20px;
    box-shadow:  10px 10px 40px #F3F4FD;
    border-radius:0px 20px 20px 0px;

}
.container1{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    width: 25%;
    height:60%;
    border-radius: 20px 20px;
    position: relative;
    left: 20px;
    box-shadow:  -10px 10px 40px #F3F4FD;
}
.row{
    margin-bottom: 10px;
    margin-top: 0px;
}
#continue{
    margin-top: 10px;
}

}